@model List<GorevListAllViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    int index = 0;
}

@foreach (var gorev in Model)
{
    index++;
    <div class="card my-1">
        <h5 class="card-header">@gorev.Ad</h5>
        <div class="card-body">
            <h5 class="card-title"><span class="text-danger">Aciliyet Durumu</span> @gorev.Aciliyet.Tanim</h5>
            <p class="card-text">@gorev.Aciklama</p>


            <p class="text-right">
                @if (gorev.Raporlar.Count > 0)
                {
                    <a class="btn btn-light btn-sm" data-bs-toggle="collapse" href="#collapseExample-@index" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Raporlara Git <i class="fas fa-caret-down ml-2"></i>
                        <span class="badge badge-dark">@gorev.Raporlar.Count</span>
                    </a>
                }
                else
                {
                    <span class="lead font-weight-bold font-italic p-2 d-block text-left mb-1" >
                        Hiç Rapor Yazılmadı! Görevdeki ilerlemelerden bahsedin. 
                    </span>
                    <a asp-action="EkleRapor" asp-route-id="@gorev.Id" class="btn btn-light btn-sm"><i class="fas fa-plus-circle mr-2"></i> Rapor Yaz</a>
                }



                <a href="#" class="btn btn-dark btn-sm">Tamamlandı İşaretle</a>
            </p>
            <div class="collapse" id="collapseExample-@index">
                <a asp-action="EkleRapor" asp-route-id="@gorev.Id" class="btn btn-light btn-sm"><i class="fas fa-plus-circle mr-2"></i> Rapor Yaz</a>
                <table class="table table-hover table-bordered table-sm">
                    <tr>
                        <th>Ad</th>
                        <th>Tanım</th>
                        <th>İşlem</th>
                    </tr>
                    @foreach (var rapor in gorev.Raporlar)
                    {
                        <tr>
                            <td>@rapor.Tanim</td>
                            <td>@rapor.Detay</td>
                            <td><a asp-action="GuncelleRapor" asp-route-id="@rapor.Id" class="btn btn-warning btn-sm"><i class="far fa-edit mr-2"></i> Düzenle</a></td>
                        </tr>
                    }
                </table>
            </div>


            
        </div>
    </div>
}


